:root {
    --primary-blue: rgba(2, 2, 163, 0.63);
}
body {
    background: rgb(2,0,36);
background: linear-gradient(142deg, rgba(2,0,36,1) 0%, rgba(9,49,121,1) 67%, rgba(0,212,255,1) 100%);
}
/* BEGIN HEADER  */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-image: url(./images/black-and-blue-02.jpg);
    background-position: 8%;
    border-radius: 15px;
    min-height: 15vh;
    border: 5px solid black;
}

header h1 {
    font-style:oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: orange;
    text-shadow: 1px 1px 2px black;
}
header h1 a {
    text-decoration: none;
    color: orange;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

header nav ul li a {
    padding: 5px 15px;
    margin:5px;
    line-height: 2;
    font-weight: lighter;
    font-size: 20px;
    color:blue;
    background-color: black;
    border-radius: 15px 5px;
    text-decoration: none;
}

header nav ul li a:hover {
    border-radius: 5px 15px;
    text-shadow: none;
}
/* END HEADER  */
/* BEGIN FOOTER  */
footer {
    padding:0 5% 0 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    border:5px solid var(--primary-blue);
    border-radius: 15px;
    background: black;
}
footer h4 {
    color: orange;
    font-size: 25px;
}
footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

footer nav ul li a {
    padding: 5px 15px;
    margin:5px;
    line-height: 2;
    font-weight: lighter;
    font-size: 20px;
    color:black;
    background-color: blue;
    border-radius: 15px 5px;
    text-decoration: none;
}

footer nav ul li a:hover {
    border-radius: 5px 15px;
    text-shadow: none;
}
/* END FOOTER  */
.hero {
    color: orange;
    text-align: end;
}

main {
    display: flex;
    flex-wrap: nowrap;
    border: 10px solid black;
    justify-content:center;
    border-radius: 15px;
}

/* START BIOGRAPHY SECTION  */
.biography {
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 10px solid var(--primary-blue);
    border-radius: 15px;
    justify-content: center;
    width: 30vw;
}
.biography h2 {
    color: orange;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
.biography p {
    color:white;
    font-size: 15px;
}
.biography p:hover {
    font-size: 20px;
}
.biography img {
    opacity: 65%;
    border: 3px solid black;
    background: #fff;
}
.biography img:hover {
    opacity: 100%;
}
/* END BIOGRAPHY  */
/* PROJECTS SECTION  */
.projects {
    display: flex;
    flex-wrap:wrap;
    flex: 1 3 100%;
    border: 10px solid var(--primary-blue);
    border-radius: 15px;
    flex-direction: column;
    padding: 10px;
    justify-content: space-evenly;
    background-color: transparent;
}
.projects h2 {
    color: orange;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    font-size: 40px;
    order: -2;
}
.projects div {
    border-radius: 15px;
}
/* SPOTLIGHT PROJECT  */
.project1 a {
    display: flex;
    background-image: url(./images/Screenshot\ 2022-07-07\ 185952.png);
    background-size:cover;
    background-position: left;
    background-attachment:inherit;
    height: 40vh;
    align-items: flex-start;
    flex-direction: column-reverse;
    opacity: 50%;
    order: -1;
    border: 10px solid black;
    border-radius: 15px;
}
.project1 a:hover {
    opacity: 100%;
    border: 10px solid var(--primary-blue);
}
.project1 aside{
    margin: 2px;
    background-color: blue;
    color:white;
    border-radius: 15px 5px;
}
.project1 aside p {
    margin: 10px;
}
.project1 aside h4 {
    margin: 5px;
    color:white
}
.project1 aside h4 a:hover {
    opacity: 100%;
}
/* END SPOTLIGHT PROJECT  */
/* START SECONDARY PROJECTS  */
.project2 a {
    display: flex;
    background-image: url(./images/Run-buddy-screenshot.png);
    background-size:cover;
    background-position: left;
    background-attachment:inherit;
    min-height: 15vh;
    align-items: flex-start;
    flex-direction: column-reverse;
    opacity: 50%;
    border: 10px solid black;
    border-radius: 15px;
}
.project2 a:hover {
    opacity: 100%;
    border: 10px solid var(--primary-blue);
    min-height: 40vh;
}
.project2 aside{
    background-color: #0300cf;
    margin: 2px;
    color:white;
    border-radius: 15px 5px;
}
.project2 aside p {
    margin: 10px;
}
.project2 aside h4 {
    margin: 5px;
}
.project2 aside h4 a {
    text-decoration: none;
    color: #fff;
}
.project2 aside h4 a:hover {
    opacity: 100%;
}
.project3 a {
    display: flex;
    background-image: url(./images/packages.jpg);
    background-size:cover;
    background-position: left;
    background-attachment:inherit;
    min-height: 15vh;
    align-items: flex-start;
    flex-direction: column-reverse;
    opacity: 50%;
    border: 10px solid black;
    border-radius: 15px;
}
.project3 a:hover {
    opacity: 100%;
    border: 10px solid var(--primary-blue);
    height: 40vh;
}
.project3 aside{
    background-color: #0300cf;
    margin: 2px;
    color:white;
    border-radius: 15px 5px;
    
}
.project3 aside p {
    margin: 10px;
}
.project3 aside h4 {
    margin: 5px;
}
.project3 aside h4 a {
    text-decoration: none;
    color: #fff;
}
.project3 aside h4 a:hover {
    opacity: 100%;
}
.project4 a {
    display: flex;
    background-image: url(./images/packages-at-door.webp);
    background-size:cover;
    background-position: left;
    background-attachment:inherit;
    background-position: top;
    height: 15vh;
    align-items: flex-start;
    flex-direction: column-reverse;
    opacity: 50%;
    border: 10px solid black;
    border-radius: 15px;
}
.project4 a:hover {
    opacity: 100%;
    border: 10px solid var(--primary-blue);
    height: 40vh;
}
.project4 aside{
    background-color: #0300cf;
    color:white;
    border-radius: 15px 5px;
    margin:2px;
}
.project4 aside p {
    margin: 10px;
}
.project4 aside h4 {
    margin: 5px;
}
.project4 aside h4 a {
    text-decoration: none;
    color: #fff;
}
.project4 aside h4 a:hover {
    opacity: 100%;
}
/* END SPOTLIGHT PROJECTS  */

@media screen and (max-width: 500px) {
    .projects h2 {
        font-size: 30px;
    }

    .project1 {
        background-size: 250%;
        background-position: top;
    }
    .hero{
        text-align: center;
    }
}